@model rwa_projekt_katlija_2407.Models.Category

<div style="width: 80vw; height: auto; background-color: #3F3F3F; border: solid 1px #3F3F3F; border-radius: 10px; text-align: center; padding-bottom: 15px; " class="container">
    <h1 style="width: 150px; margin-top:-12px;">Create a category</h1>
    <div class="contbtnh" style="text-align: center; background-color: #FFDF6C; height: auto; margin-bottom: 10px;">
         <h4 class="addstateheader" style="margin-left:0px;">New Category</h4>
    </div>
    <div style="border: 1px solid white; border-radius: 7px; background-color: white; width: 60vw; height: auto; margin: auto; padding-bottom: 2vh; font-size: 20px;">


        @using (Html.BeginForm())
        {
            @Html.ValidationSummary(false, "", new { @class = "text-danger", style= "font-size: 15px; " })

            @Html.AntiForgeryToken()

            <div class="container" style="margin-top: 20px;">
                <span>
                    @Html.LabelFor(model => model.Naziv, htmlAttributes: new { @class = "txtadd" })
                </span>
                <span>
                    @Html.EditorFor(model => model.Naziv, new { htmlAttributes = new { @class = "my-textBox" } })
                </span>

                <div class="container">
                    <div>
                        <input type="submit" value="Update" class="editImg" style="width: 100px; height: 30px; color:white; margin-top:20px; font-size: 15px;" />
                    </div>
                </div>
            </div>
        }
    </div>
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}